/* Animate state between .navbar and .navbar-ontop */
.navbar {
  transition: background-color .5s ease-out;
}

.navbar-ontop {
  background-color: transparent !important;
}

h1 {
  font-size: 35px;

}

#cover {
  padding: 100px;
}

#search {
  background-color: rgba(245, 245, 245, 0.8);
  margin: 50px;
  padding: 75px;
  border-radius: 25px;
}

::-webkit-datetime-edit {}
::-webkit-datetime-edit-fields-wrapper
::-webkit-datetime-edit-text
::-webkit-datetime-edit-month-field
::-webkit-datetime-edit-day-field
::-webkit-datetime-edit-year-field
::-webkit-inner-spin-button
::-webkit-calendar-picker-indicator

#moreoption {
  margin: 1px;
}