<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <style>
    body {background-color: #f45342;}
    h2   {color: white; font-family: Courier New; font-size: 250%;}
    h3   {color: white; font-family: Courier New; font-size: 125%;}
  </style>
</head>
<body>
  <h3 align = "center"> You has successfully updated your password. </h3>
  <br>
  <br>
  <br>
  <h3 align = center>
  <a href="{% url 'login' %}" align="center">Sign in with new password</a>
  </h3>

</body>
</html>
