<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <title>Sign up</title>
  <meta name="description" content="Company site of a vehicle rental company.">
  <meta name="keywords" content="Ridingo cars for backpackers car rental brisbane australia">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <link rel="icon" href="img/logo.ico">
  <link rel="stylesheet" href="css/style.css"> </head>
  <link href="../../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
   <link href="../../static/css/style.css" rel="stylesheet">

<body class="">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../static/img/logo.svg" width="30" height="30" class="d-inline-block align-top mx-2" alt="">Pingendo</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'homepage' %}">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item dropdown mx-2">
            <a id="vehicle" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vehicle</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'availableCar' %}">Available Vehicles</a>
              <a class="dropdown-item" href="#popular">Most Popular</a>
              <a class="dropdown-item" href="#picked">Handpicked</a>
              <!-- <div class="dropdown-divider"></div> -->
              <a class="dropdown-item" href="#sale">On Sale</a>
            </div>
          </li>
          <li class="nav-item mx-2 mr-5">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
          <div class="divider"></div>
          <li id="signup" class="nav-item mx-2 ml-5">
            <a class="nav-link" href="#login">Sign In</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link btn text-white btn-outline-primary" href="{% url 'signup' %}">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../static/img/logo.svg" width="30" height="30" class="d-inline-block align-top mx-2" alt="">Ridingo</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item mx-2">
            <a class="nav-link" href="{% url 'homepage' %}">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item dropdown mx-2">
            <a id="vehicle" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Vehicle</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'availableCar' %}">Available Vehicles</a>
              <a class="dropdown-item" href="#popular">Most Popular</a>
              <a class="dropdown-item" href="#picked">Handpicked</a>
              <!-- <div class="dropdown-divider"></div> -->
              <a class="dropdown-item" href="#sale">On Sale</a>
            </div>
          </li>
          <li class="nav-item mx-2 mr-5">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5" style="background-image: url(&quot;https://pingendo.github.io/templates/sections/assets/form_red.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="align-self-center col-md-6 text-white">
          <h1 class="text-center text-md-left display-3">Ridingo</h1>
          <p class="lead">Why waiting if you can do it online?</p>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body p-5">
              <br>
              <br>
              <h3 class="pb-3">Welcome to Ridingo!</h3>
              <form id="login-form" method="post"
                    action="{% url 'login' %}">
                  {% csrf_token %}
                  <table class="table">
                      <tr>
                          <td style="color:black;  font-family: Courier New"><label for="id_username">Username:</label></td>
                          <td><input id="id_username" name="username"
                                     type="text" class="form-control"></td>
                      </tr>
                      <br>
                      <tr>
                          <td style="color:black;  font-family: Courier New"><label for="id_password">Password:</label></td>
                          <td><input id="id_password" name="password"
                                     type="password" class="form-control"></td>
                      </tr>
                  </table>
                  {% if form.errors %}
                      <p class=" label label-danger" style = "color:white;  font-family: Courier New">
                          Your username and password didn't match.
                          Please try again.
                      </p>
                  {% endif %}
                  <br>
                  <br>
                  <input type="submit" value="Log me in"
                         class="btn btn-primary pull-right" style="border: none ; background-color:black; font-family: Courier New;font-size: 20px;" />
                  <input type="hidden" name="next" value="{{ next }}" />
              </form>
              <!--
              <form action="https://formspree.io/YOUREMAILHERE">

                <div class="form-group">
                  <label>User name</label>
                  <input class="form-control" placeholder="Your name, please"> </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="time" class="form-control"> </div>
                <button type="submit" class="btn mt-2 btn-outline-dark">Login</button>
              </form>
            -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 10px;right:10px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:250px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;
    <img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16">
  </pingendo>
</body>

</html>
