<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <style>
    body {background-color: #f45342;}
    h2   {color: white; font-family: Courier New; font-size: 300%;}
  </style>
</head>
<body>
  <h2 align = "center">Sign up</h2>
  <form method="post" align = "center">
    {% csrf_token %}
    {% for field in form %}
      <p style="color:white; font-family: Courier New">
        {{ field.label_tag }}<br>
        {{ field }}

        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <br>
    <br>
    <button type="submit" style="border: none ; background-color:powderblue; font-family: Courier New; font-size: 20px;">Sign up</button>
  </form>

</body>
</html>
