<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <style>
    body {background-color: #f45342;}
    h2   {color: white; font-family: Courier New; font-size: 250%;}
    h3   {color: white; font-family: Courier New; font-size: 125%;}
  </style>
</head>
<body>
  <h2 align = "center">Congratulation!</h2>
  <h3 align = "center"> Your registration is successful.</h3>
  <br>
  <br>
  <br>
  <h3 align = center>
  <a href="{% url 'homepage' %}" align="center">Return to homepage</a>
  </h3>

</body>
</html>
